<p class="login-box-msg">Sign up to start</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password Confirmation' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <%= f.submit "Sign up", class: 'btn btn-success btn-block btn-flat' %>
    </div>
    <div class="col-xs-8">
        Already signed up ? <%=link_to "Sign In", new_user_session_path %>
      </div>
  </div>
<% end %>
