<aside class="main-sidebar">
  <section class="sidebar">

    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "http://placehold.it/160x160", class: "img-circle" %>
      </div>
      <div class="pull-left info">
        <p>Partho Ghosh</p>
        <%= link_to '<i class="fa fa-circle text-success"></i><span>Online</span>'.html_safe, root_path %>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="header"><%= t('console.sidebar.main_navigation') %></li>
      <li> <%= link_to '<i class="fa fa-dashboard"></i><span>Dashboard</span>'.html_safe, root_path %> </li>
      <li class="treeview">
        <a href="#">
          <i class="fa fa-users"></i>
          <span>Users</span>
          <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
          </span>
        </a>
        <ul class="treeview-menu">
          <li> <%= link_to '<i class="fa fa-circle-o"></i> List Users'.html_safe, root_path %> </li>
          <li> <%= link_to '<i class="fa fa-circle-o"></i> Create User'.html_safe, root_path %> </li>
        </ul>
      </li>

    </ul>

  </section>
</aside>