<p class="login-box-msg">Log in to start</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
    <span class='glyphicon glyphicon-envelope form-control-feedback'></span>
  </div>

  <div class="form-group has-feedback">
    <%= f.password_field :password, autofocus: true, class: 'form-control', placeholder: 'Password' %>
    <span class='glyphicon glyphicon-lock form-control-feedback'></span>
  </div>

  <div class="row">
      <div class="col-xs-8">
        New User ? <%=link_to "Sign Up", new_user_registration_path %>
      </div>

    <div class="col-xs-4">
      <%= f.submit "Log in", class: 'btn btn-success btn-block btn-flat' %>
    </div>
  </div>
<% end %>
